<!doctype html>
<html ng-app="review-client">
	<head>
		<title>Review | GuavaJuice Labs</title>
		<link href="<%= assets.css('vendor/vendor') %>" rel="stylesheet" type="text/css">
		<link href="<%= assets.css('css/reviewclient') %>" rel="stylesheet" type="text/css">
		<script src="<%= assets.js('vendor/vendor') %>"></script>
	</head>
	<body ng-controller="MainController" keep-alive style="margin:0px;">
		Welcome to GuavaJuice
	</body>
	<script src="<%= assets.js('js/reviewclient') %>"></script>
</html>